@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #011128;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-align: justify; /* For balanced text */
  }

  .border-dash-custom {
    border-width: px;
    border-style: dashed;
    border-image: repeating-linear-gradient(white) 1;
  }
}
