@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #011128;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-align: justify; /* For balanced text */
  }

  .border-dash-custom {
    border-image-slice: 27; /* Applies the image slice equally to all sides */
    border-image-width: 50px; /* Sets the border thickness */
    border-image-outset: 0; /* Controls the space between border and element edges */
    border-image-repeat: round; /* Repeats the SVG along the border */
    border-image-source: url("https://res.cloudinary.com/da3j9iqkp/image/upload/v1730988969/a2shbvqn5b7k20pcqqqr.svg");
    border-style: solid;
  }
}
